h1 {
    position: sticky;
    top: 0;
    width: 100%;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    background-color: lightgray;
    background-image: url(https://th.bing.com/th/id/OIP.iYqhR1dfMPY4S0ZHQptqTwHaE7?rs=1&pid=ImgDetMain);
    filter: grayscale(80%);
    background-blend-mode: soft-light;
    padding: 35px;
    
}



.Intro {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 2em;
    padding-top: 15px;
    padding-bottom: 15px;
}

body {
    background-color: #eeeeee;
}

h2{
color: white;
background-color: black;
background-size: contain;
text-align: center;
font-size: 3em;
padding: 20px;
padding-bottom: 100px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

footer {
text-align: left;
font-size: larger;
padding-top: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
}

.contactInfo {
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

[role="gridcell"] {
    display: flex;
    justify-content: center;
    width: 33.33%;
    padding-top: 30px;
    
  }
  
  [role="row"] {
    display: flex;
  }
  
  [role="rowgroup"] {
    
    flex-direction: column;
  }

  .leopardImg {
    width: 500px;
    height: 300px;
    transition: 1s;
  }
  .leopardImg:hover {

     width: 600px;
    height: 400px;
    transition: 1s;
  }

    .leopardImg2 {
    width: 500px;
    height: 300px;
    padding-top: 100px;
     transition: 1s;
    
}
 .leopardImg2:hover {

     width: 600px;
    height: 400px;
    transition: 1s;
    
  }

.meowVid {
  width: 50%;
padding-top: 150px;


}

.imgContainer {
  display: inline-block;
  
}

.imgText {
  visibility: hidden;
  position: relative;
  bottom: 10px;
  left: 10px;
  background: rgba(133, 131, 131, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  
}

.imgContainer:hover .imgText {
  visibility: visible;
  
}

a[role="button"] {
    border: none;
    
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    background-color: transparent;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    

}

a[role="button"]:hover {
  color: white;

}

.invButton{
 padding-right: 1500px;
 padding-left: 500px;
}

.aboutText {
 
  padding-right: 50px;
}


.invButton2 {
  padding-left: 1500px;
  padding-right: 500px;
 }
 
 .aboutText2 {
   padding-left: 500px;
 }
 

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: #eeeeee;
    padding: 30px;
}

.form-input {
    width: 100%;
    min-height: 60px;
    margin-bottom: 20px; 
    font-size: 24px;
    padding: 10px 20px;
}

textarea.form-input {
    min-height: 200px;
}

label {
    font-size: 25px;
    margin-bottom: 10px;
}

.form-submit {
    width: 100px;
    height: 60px;
    font-size: 24px;
    
    
}

.aboutmetext {

  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 2em;
  padding-top: 15px;
  padding-bottom: 200px;
}

.aboutmephoto {

  
  float: left;
  
}


@media (min-width: 600px) {
.imgContainer {
  width: 50%;
  float: left;
}
}

@media (min-width: 900px) {
.imgContainer {
  width: 33.33%;
}
}

.container {
  position: relative;
  width: 50%;
  max-width: 50px;  
}

.container img {
  width: 100%;   
  height: auto;  
  border-radius: 60%;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: black;
  font-size: 18px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
}
